<link href="<%= "/assets/datepicker.css" %>" media="all" rel="stylesheet" type="text/css">

<%= javascript_include_tag 'bootstrap-datepicker' %>
<%= javascript_include_tag 'bootstrap-combobox' %>

<%= javascript_include_tag 'harvard_aeon_form' %>

<% handler.list_map.each do |name, value| %>
  <input type="hidden" name="<%= name %>" value="<%= value  %>">
<% end %>


<a class="pull-right rl-ha-aeon-link"
   title="<%= t('plugin.request_list.aeon_button_label') %>"
   href="<%= handler.list_opts[:aeon_link_url]  %>"
   target="<%= handler.list_opts.fetch(:form_target, '_self') %>">

  <%= t("plugin.request_list.aeon_button_label") %>
</a>


<div class="rl-message rl-message-title">

  <div class="rl-ha-collapsed-help">
    <%= t('plugin.request_list.title_message').html_safe %>
  </div>

  <h7><b class='serif'><%= t('plugin.request_list.expanded_help_title').html_safe %></b></h7>
  <div class="rl-ha-expanded-help" style="display:none">
    <ul style='padding-right: 20px; padding-left: 15px;'>
      <% t('plugin.request_list.expanded_help_elements').each do |str| %>
        <li class="expanded_help_list_item"><p class='serif'><%=str.html_safe%></p></li>
      <%end%>
    </ul>
  </div>
</div>

<a class="rl-ha-expand-help"
   title="<%= t('plugin.request_list.expand_help_message') %>"
   data-expand-label="<%= t('plugin.request_list.expand_help_label') %>"
   data-collapse-label="<%= t('plugin.request_list.collapse_help_label') %>"
   href="javascript:void(0);">

  <%= t('plugin.request_list.expand_help_label') %>
</a>